html {
  color: #202531;
  background-color: #F9FAFC;
  font-family: 'Proxima Nova', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}